

<div class="filter--container">
  <div class="filter--box">
    <div class="title--block">
      <button class="filter--show_button" filter-button="iat">
        <div class="tag-name">
          Include Automatic Taper?
        </div>
        <div class="tag-img">
          <img class="tag-arrow" />
        </div>
      </button>
    </div>
    <div class="filter_element--block" filter-block="iat">
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="iat" type="checkbox" value="YT" /></div>
        <div class="tag_title--block"><span class="product--name">Yes</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="iat" type="checkbox" value="NT" /></div>
        <div class="tag_title--block"><span class="product--name">No</span></div>
      </li>
    </div>
  </div>
  <div class="filter--box">
    <div class="title--block">
      <button class="filter--show_button" filter-button="fbs">
        <div class="tag-name">
          Flat Box Set Sizes:
        </div>
        <div class="tag-img">
          <img class="tag-arrow" />
        </div>
      </button>
    </div>
    <div class="filter_element--block" filter-block="fbs">
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="fbs" type="checkbox" value="710" /></div>
        <div class="tag_title--block"><span class="product--name">7" &amp; 10"</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="fbs" type="checkbox" value="1012" /></div>
        <div class="tag_title--block"><span class="product--name">10" &amp; 12"</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="fbs" type="checkbox" value="71012" /></div>
        <div class="tag_title--block"><span class="product--name">7", 10" &amp; 12"</span></div>
      </li>
    </div>
  </div>
  <div class="filter--box">
    <div class="title--block">
      <button class="filter--show_button" filter-button="fbc">
        <div class="tag-name">
          Flat Box Capacities:
        </div>
        <div class="tag-img">
          <img class="tag-arrow " />
        </div>
      </button>
    </div>
    <div class="filter_element--block" filter-block="fbc">
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="fbc" type="checkbox" value="SF" /></div>
        <div class="tag_title--block"><span class="product--name">Standard</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="fbc" type="checkbox" value="MF" /></div>
        <div class="tag_title--block"><span class="product--name">MEGA</span></div>
      </li>

    </div>
  </div>
  <div class="filter--box">
    <div class="title--block">
      <button class="filter--show_button" filter-button="cat">
        <div class="tag-name">
          Corner Applicator Type:
        </div>
        <div class="tag-img">
          <img class="tag-arrow " />
        </div>
      </button>
    </div>
    <div class="filter_element--block" filter-block="cat">
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="cat" type="checkbox" value="MA" /></div>
        <div class="tag_title--block"><span class="product--name">MiniShot™ Applicator Tube</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="cat" type="checkbox" value="7A" /></div>
        <div class="tag_title--block"><span class="product--name">7" Corner Applicator Box</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="cat" type="checkbox" value="8A" /></div>
        <div class="tag_title--block"><span class="product--name">8" Corner Applicator Box</span></div>
      </li>
    </div>
  </div>
  <div class="filter--box">
    <div class="title--block">
      <button class="filter--show_button" filter-button="ncf">
        <div class="tag-name">
          # of Corner Finishers:
        </div>
        <div class="tag-img">
          <img class="tag-arrow " />
        </div>
      </button>
    </div>
    <div class="filter_element--block" filter-block="ncf">
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="ncf" type="checkbox" value="03" /></div>
        <div class="tag_title--block"><span class="product--name">3"</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="ncf" type="checkbox" value="0335" /></div>
        <div class="tag_title--block"><span class="product--name">3" &amp; 3.5"</span></div>
      </li>
    </div>
  </div>
  <div class="filter--box">
    <div class="title--block">
      <button class="filter--show_button" filter-button="ncp">
        <div class="tag-name">
          # of Compound Pumps:
        </div>
        <div class="tag-img">
          <img class="tag-arrow " />
        </div>
      </button>
    </div>
    <div class="filter_element--block" filter-block="ncp">
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="ncp" type="checkbox" value="1P" /></div>
        <div class="tag_title--block"><span class="product--name">One</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="ncp" type="checkbox" value="2P" /></div>
        <div class="tag_title--block"><span class="product--name">Two</span></div>
      </li>
    </div>
  </div>
  <div class="filter--box">
    <div class="title--block">
      <button class="filter--show_button" filter-button="nsi">
        <div class="tag-name">
          Nail Spotter Included?
        </div>
        <div class="tag-img">
          <img class="tag-arrow " />
        </div>
      </button>
    </div>
    <div class="filter_element--block" filter-block="nsi">
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="nsi" type="checkbox" value="YN" /></div>
        <div class="tag_title--block"><span class="product--name">Yes</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="nsi" type="checkbox" value="NN" /></div>
        <div class="tag_title--block"><span class="product--name">No</span></div>
      </li>
    </div>
  </div>
  <div class="filter--box">
    <div class="title--block">
      <button class="filter--show_button" filter-button="ht">
        <div class="tag-name">
          Handle Type:
        </div>
        <div class="tag-img">
          <img class="tag-arrow " />
        </div>
      </button>
    </div>
    <div class="filter_element--block" filter-block="ht">
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="ht" type="checkbox" value="FH" /></div>
        <div class="tag_title--block"><span class="product--name">Fixed-Length Handles</span></div>
      </li>
      <li class="tag--block">
        <div class="tag_input--block"><input input-filter="ht" type="checkbox" value="EH" /></div>
        <div class="tag_title--block"><span class="product--name">Extendable Handles</span></div>
      </li>
    </div>
  </div>
</div>

